@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  background: #020C12;
  color: white;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}
html{
  overflow-x: hidden;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
